@import "../../reset";

.button {
    max-width: 310px;
    border-radius: 70px;
    padding: 23px 33px;
    background-color: $color-primary;
    color: $color-light;
    display: flex;
    position: relative;

    &:hover {
        background-color: $color-highlight;
        border: solid 2px $color-light;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $color-disabled;
    }
    

    .button__text {
        display: inline-block;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        width: 100%;
        flex: 1;
        font: {
            size: 19px;
            weight: 600;
        }
        letter-spacing: -0.5px;
        line-height: 24px;
    }

}