@import "../../reset";
@import "./Responsiveness";

.button {
    max-width: $button-max-width;
    max-height: $button-max-height;
    min-width: $button-min-width;
    min-height: $button-min-height;
    width: $button-responsive-width;
    height: $button-responsive-height;
    border-radius: 70px;
    padding-left: $button-responsive-left-padding;
    padding-right: $button-responsive-right-padding;
    background-color: $color-primary;
    color: $color-light;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: none;
    border: solid 2px transparent;
    transition-property: color, background-color, border;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    &:disabled {
        cursor: not-allowed;
        background-color: $color-disabled;
        border: none;
    }

    &:not(:disabled):hover {
        background-color: $color-highlight;
        border: solid 2px $color-light;
    }

    .button__text {
        font: {
            size: $button-responsive-font-size;
        }
        font-weight: 600;
        line-height: $button-responsive-line-height;
        letter-spacing: -0.5px;
        overflow: hidden;

        @media (max-width: 768px) {
            font-size: $button-min-font-size;
            line-height: $button-min-line-height;
        }

        @media (min-width: 1680px) {
            font-size: $button-max-font-size;
            line-height: $button-max-line-height;
        }
    }
}

.button__default {
    .button__text {
        display: inline-block;
        text-overflow: clip;
        white-space: nowrap;
        width: 100%;
        flex: 1;
    }
}

.button__icon {
    .button__grid {
        display: flex;
        flex-direction: row;
        gap: $button-grid-responsive-gap-size;
        align-items: center;
        overflow: hidden;

        .icon {
            display: flex;
            place-items: center;

            > img {
                width: $icon-responsive-size;
                height: $icon-responsive-size;

                min-width: $icon-min-size;
                max-width: $icon-max-size;
                min-height: $icon-min-size;
                max-height: $icon-max-size;
            }
        }

        .button__text {
            overflow: hidden;
            white-space: wrap;
            text: {
                overflow: ellipsis;
                align: left;
            }
            height: 100%;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        @media (max-width: 768px) {
            gap: $button-grid-min-gap-size;
        }

        @media (min-width: 1680px) {
            gap: $button-grid-max-gap-size;
        }
    }
}

.card:hover > .button:not(:disabled) {
    background-color: $color-highlight;
    border: solid 2px $color-light;
}
