@use "sass:color";
@import "../../reset";
@import "./Responsiveness";

.firm-facts__container {
    min-width: $min-width;
    max-width: $max-width;
    height: auto;

    margin-top: 100px;
    background-color: rgba(45, 62, 78, 1);
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .close-button {
        @include clean-button();
        margin-top: $close-icon-responsive-top-margin;
        margin-right: $close-icon-responsive-right-margin;
        align-self: flex-end;

        > img {
            width: $close-icon-responsive-size;
            height: $close-icon-responsive-size;
            min-width: $close-icon-min-size;
            max-width: $close-icon-max-size;
            min-height: $close-icon-min-size;
            max-height: $close-icon-max-size;
        }

        &:active {
            outline: none;
            box-shadow: none;
        }

        .close-button__icon {
            flex: 1;
        }

        @media (max-width: 768px) {
            margin-top: $close-icon-min-top-margin;
            margin-right: $close-icon-min-right-margin;
        }

        @media (min-width: 1680px) {
            margin-top: $close-icon-max-top-margin;
            margin-right: $close-icon-max-right-margin;
        }
    }

    .title {
        font: {
            weight: "400";
            size: 60px; // todo: scale responsive
        }
        color: $color-light;
        line-height: 66px;
        letter-spacing: 0;
        margin: 33px 0px 0px 70px;
    }

    .content-grid {
        min-width: $content-grid-min-width;
        max-width: $content-grid-max-width;
        min-height: $content-grid-min-height;
        max-height: $content-grid-max-height;
        width: $content-grid-responsive-width;
        height: $content-grid-responsive-height;
        margin-top: 22px;

        border-top: solid 1px color.adjust($color-light, $alpha: -0.8);
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: $grid-responsive-gap-size;

        @media (max-width: 768px) {
            gap: $grid-min-gap-size;
        }

        @media (min-width: 1680px) {
            gap: $grid-max-gap-size;
        }

        :first-child {
            grid-column: 1;
            grid-row: span 2;
        }

        > * {
            max-width: 100%;
        }
    }
}
