@use "sass:color";
@import "../../reset";
@import "./Responsiveness";

.firm-facts__container {
    @media (max-width: 768px) {
        padding: 0px $container-min-padding $container-min-padding;
    }

    @media (min-width: 1680px) {
        padding: 0px $container-max-padding $container-max-padding;
    }

    min-width: $min-width;
    max-width: $max-width;
    height: auto;

    margin-top: 100px;
    background-color: rgba(45, 62, 78, 1);
    padding: 0px $container-responsive-padding $container-responsive-padding;

    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .close-button {
        @include clean-button();
        margin-top: $close-icon-responsive-top-margin;
        position: relative;
        transform: translateX(50%);
        align-self: flex-end;

        > img {
            width: $close-icon-responsive-size;
            height: $close-icon-responsive-size;
            min-width: $close-icon-min-size;
            max-width: $close-icon-max-size;
            min-height: $close-icon-min-size;
            max-height: $close-icon-max-size;
        }

        &:active {
            outline: none;
            box-shadow: none;
        }

        .close-button__icon {
            flex: 1;
        }

        @media (max-width: 768px) {
            margin-top: $close-icon-min-top-margin;
        }

        @media (min-width: 1680px) {
            margin-top: $close-icon-max-top-margin;
        }
    }

    .title {
        position: relative;
        margin-top: $title-responsive-top-margin;
        font: {
            weight: "400";
            size: $title-responsive-font-size;
        }
        color: $color-light;
        line-height: $title-responsive-line-height;
        letter-spacing: 0;

        @media (max-width: 768px) {
            font-size: $title-min-font-size;
            line-height: $title-min-line-height;
        }

        @media (min-width: 1680px) {
            font-size: $title-max-font-size;
            line-height: $title-max-line-height;
        }

        &::after {
            content: "";
            width: 100%;
            border-bottom: solid 1px color.adjust($color-light, $alpha: -0.8);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY($hr-responsive-top-distance);
            z-index: 1;

            @media (max-width: 768px) {
                transform: translateY(calc($title-hr-min-top-distance + 100%));
            }

            @media (min-width: 1680px) {
                transform: translateY(calc($title-hr-max-top-distance + 100%));
            }
        }
    }

    .content-grid {
        min-width: $content-grid-min-width;
        max-width: $content-grid-max-width;
        min-height: $content-grid-min-height;
        max-height: $content-grid-max-height;
        width: $content-grid-responsive-width;
        height: $content-grid-responsive-height;
        margin-top: $content-grid-responsive-top-margin;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: $grid-responsive-gap-size;

        @media (max-width: 768px) {
            gap: $grid-min-gap-size;

            margin-top: $content-grid-min-top-margin;
        }

        @media (min-width: 1680px) {
            gap: $grid-max-gap-size;

            margin-top: $content-grid-max-top-margin;
        }

        :first-child {
            grid-column: 1;
            grid-row: span 2;
        }

        > * {
            max-width: 100%;
        }
    }
}
