$color-primary: rgba(45, 62, 78, 1);
$color-light: rgba(255, 255, 255, 1);
$color-highlight: rgba(7, 192, 106, 1);
$color-disabled: rgba(170, 170, 170, 1);

$min-screen-width: 768px;
$min-screen-height: 100svh;