$color-primary: rgba(45, 62, 78, 1);
$color-light: rgba(255, 255, 255, 1);
$color-highlight: rgba(7, 192, 106, 1);
$color-disabled: rgba(170, 170, 170, 1);

$screen-width: 100vw;
$screen-height: 100svh;

$min-screen-width: 768px;
$max-screen-width: 1680px;
$min-screen-width-num: 768;
$max-screen-width-num: 1680;

$screen-size-proportion: calc(($screen-width - $min-screen-width) / ($max-screen-width-num - $min-screen-width-num));
