@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "globals";

* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  margin: 0;
  overflow-x: hidden;

  font: {
    family: "Open Sans", sans-serif;
    font-weight: 400;
    style: normal;
  }
}

#root {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@mixin clean-button {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  background-color: transparent;
}
